MONGODB_URI=
OPENROUTER_API=
GEMINI_API=
GEMINI_ENDPOINT=
DOCINTEL_API=
DOCINTEL_ENDPOINT=
DOCINTEL_REGION=
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
GOOGLE_CLIENT_ID=
